html {
  background-image: url(https://www.freepnglogos.com/uploads/pokeball-png/pokeball-alexa-style-blog-pokemon-inspired-charmander-daily-8.png);
  background-size: 25% auto;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.flex-container {
  display: flex;
}

.pokecard {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border-style: solid;
  border-width: 5px;
  border-color: red black white black;
  background-color: rgba(221, 110, 58, 0.733);
  max-height: 30vh;
}

.pokecard .pokestats {
  background-color: rgba(0, 255, 255, 0.384);
  padding: 5px;
  border-radius: 5px;
  line-height: 1.5;
  max-height: 25vh;
  overflow: overlay;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.pokecard .pokestats span {
  background-color: white;
}

.pokemoves {
  background-color: rgba(137, 43, 226, 0.384);
  padding: 5px;
  border-radius: 5px;
  line-height: 1.5;
  max-height: 25vh;
  overflow: overlay;
  margin-left: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.pokecard:hover {
  transform: scale(1.05);
}

.pokeimage {
  width: 100%;
  height: auto;
}

.focusContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 65vh;
  margin-top: 15px;
}

.focus-box {
  background-color: hsla(359, 50%, 50%, 0.79);
  width: 80vw;
  border-radius: 5px;
  min-height: 100%;
}

.focus-exit-container {
  display: flex;
  justify-content: flex-end;
}

.focus-exit {
  background-color: black;
  color: white;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.focus-exit:hover {
  transform: scale(1.2);
}